<table class="table table-hover">
    <thead><tr><th>金额</th><th>类型</th><th>备注信息</th>
        <th>交易日期</th><th>所属阶段</th><th>修改</th></tr></thead>
    {% for record in records %}
    <tr>
        <td>
            {{ record.number }}
        </td>
        <td>
            <a href="{{ url_for('main.leixing', leixing=record.leixing) }}">{{ record.leixing }}</a>
        </td>
        <td>
            {{ record.message }}
        </td>
        <td>
            {{ moment(record.timestamp).format('Do') }}
        </td>
        <td>
            <a href="{{ url_for('main.timestamp', timestamp=record.timestamp) }}">
                 {{ moment(record.timestamp).format('YYYY年MMM') }}
            </a>
        </td>
        {% if record.own == current_user %}
        <td>
            <a href="{{ url_for('main.change', id = record.id) }}">修改数据</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>