<table class="table table-hover">
    <thead><tr><th>年月日</th><th>凭证号</th><th>摘要</th>
        <th>金额</th><th>借贷</th><th>费用类型</th><th>修改数据</th></tr></thead>
    {% for record in records %}
    <tr>
        <td>
            <a href="{{ url_for('main.timestamp', timestamp=record.timestamp) }}">
                {{ record.timestamp }}
            </a>
        </td>
        <td>
            {{ record.number }}
        </td>
        <td>
            {{ record.message }}
        </td>
        <td>
            {{ record.money }}
        </td>
        <td>
            <a href="{{ url_for('main.leixing', leixing=record.leixing) }}">
                {{ record.leixing }}
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.outlay', outlay=record.outlay.name) }}">
                {{ record.outlay.name[:record.outlay.name.find('--')] }}
            </a>
            --
            <a href="{{ url_for('main.fulloutlay', outlay=record.outlay.id) }}">
                {{ record.outlay.name[record.outlay.name.find('--') + 2:] }}
            </a>
        </td>
        {% if record.own == current_user %}
        <td>
            <a href="{{ url_for('main.modify', id = record.id) }}">修改数据</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>