<table class="table table-hover">
    <thead><tr><th>年月日</th><th>凭证号</th><th>摘要</th>
        <th>金额</th><th>借贷</th><th>费用类型</th><th>修改数据</th></tr></thead>
    {% for record in records %}
    <tr>
        <td>
            {{ record.timestamp }}
        </td>
        <td>
            {{ record.number }}
        </td>
        <td>
            {{ record.message }}
        </td>
        <td>
            {{ record.money }}
        </td>
        <td>
            {{ record.leixing }}
        </td>
        <td>
            {{ record.outlay.name }}
        </td>
        {% if record.own == current_user %}
        <td>
            <a href="{{ url_for('main.modify', id = record.id) }}">修改数据</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>